<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Szemüveg létrehozása</title>

    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="col-md-4 mt-5">
            <form method="post"
                  th:action="@{/glasses/update}">
                <div class="form-group">
                </div>
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text"
                           id="id"
                           name="id"
                           readonly
                           class="form-control"
                           th:value="${glasses.id}"/>
                </div>
                <div class="form-group">
                    <label for="brand">Márka</label>
                    <input type="text"
                           id="brand"
                           name="brand"
                           class="form-control"
                           th:value="${glasses.brand}"/>
                </div>
                <div class="form-group">
                    <label for="color">Szín</label>
                    <input type="text"
                           id="color"
                           name="color"
                           class="form-control"
                           th:value="${glasses.color}"/>
                </div>
                <div class="form-group">
                    <label for="diopter">Dioptria</label>
                    <input type="text"
                           id="diopter"
                           name="diopter"
                           min="-20"
                           step="0.1"
                           class="form-control"
                           th:value="${glasses.diopter}"/>
                </div>
                <div class="form-group">
                    <label for="layer">Réteg</label>
                    <input type="text"
                           id="layer"
                           name="layer"
                           class="form-control"
                           th:value="${glasses.layer}"/>
                </div>
                <div class="form-group">
                    <label for="orderDate">Rendelési dátum</label>
                    <input type="text"
                           id="orderDate"
                           name="orderDate"
                           min="20100101"
                           step="1"
                           class="form-control"
                           th:value="${glasses.orderDate}"/>
                </div>
                <div class="form-group">
                    <label for="frameType">Keret típus</label>
                    <select id="frameType"
                            name="frameType"
                            class="form-control form-select">
                        <option th:value="${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Metal}"
                                th:text="Fém"
                                th:selected="${glasses.frameType} == ${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Metal} ? true : false"></option>
                        <option th:value="${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Plastic}"
                                th:text="Műanyag"
                                th:selected="${glasses.frameType} == ${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Plastic} ? true : false"></option>
                        <option th:value="${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Strengthened}"
                                th:text="Erősített"
                                th:selected="${glasses.frameType} == ${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Strengthened} ? true : false"></option>
                        <option th:value="${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Rimless}"
                                th:text="Keretnélküli"
                                th:selected="${glasses.frameType} == ${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Rimless} ? true : false"></option>
                        <option th:value="${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Compact}"
                                th:text="Kompakt"
                                th:selected="${glasses.frameType} == ${T(hu.nye.kovacssebestyen.progkor.szemuvegek.data.model.FrameType).Compact} ? true : false"></option>
                    </select>
                </div>
                <button class="btn btn-primary"
                        type="submit">Módosít
                </button>
                <a th:href="@{/glasses}"
                   class="btn btn-secondary"
                   type="submit">Vissza a listához</a>
            </form>
        </div>
    </div>

</div>

<script>

</script>

</body>
</html>